# ignore redundant latex files
*.aux
*.lof
*.lot
*.out
*.toc
*.log
*.pdf
*.blg
*.gz
*.bbl

# ignore redundant java files
*.jar
*.class

# ignore mavne build files
pom.properties
*.txt
*.xml