# ignore redundant latex files
*.aux
*.lof
*.lot
*.out
*.toc
*.log
*.pdf
*.blg
*.gz
*.bbl

# ignore redundant java files
*.jar
*.class

# ignore build files
pom.properties
*.txt
*.iml
target
.idea
*.apk
android-heart-rate/out
android-heart-rate/gen/*