

.idea/*

nipen/target*

nipen-heart-rate/gen/*
nipen-heart-rate/target/*
nipen-heart-rate/local.properties

nipen-hv-weighter/gen/*
nipen-hv-weighter/target/*
nipen-hv-weighter/local.properties

# ignore redundant latex files
*.aux
*.lof
*.lot
*.out
*.toc
*.log
*.blg
*.gz
*.bbl
*.pdf

